* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(32, 197, 159);
  width: 100%;
  height: 100vh;
}
.todo-container {
  max-width: 500px;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 10px;
}
h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}
img {
  width: 45px;
}
.input-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}
#input::placeholder {
  color: #780c28;
}
#input {
  width: 75%;
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
  padding: 12px;
  margin-top: 10px;
  font-weight: 700;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(75, 74, 74, 0.3) inset;
  border-radius: 25px;
}
.btn {
  width: 22%;
  padding: 10px 5px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #780c28;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #6d2323;
  transition: all 0.5s ease;
}
ul li {
  list-style: none;
  width: 100%;
  padding: 10px 45px;
  margin: 10px 0px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 17px;
  position: relative;
  user-select: none;
}

ul li::before {
  content: "";
  background: url(./undone.png);
  position: absolute;
  top: 7px;
  left: 8px;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.checked {
  background-color: #780c28;
  color: white;
}
.checked::before {
  background: url(./done.png);
  width: 30px;
  height: 30px;
  background-size: cover;
}

span {
  position: absolute;
  right: 6px;
  font-size: 20px;
  padding-right: 10px;
  background-color: black;
  color: rgb(247, 247, 247);
  border-radius: 50%;
  padding: 2px 8px;
  cursor: pointer;
  transition: all 0.5s ease;
  bottom: 6px;
}

ul li.checked span:hover {
  background-color: #fff;
  color: #780c28;
}
